<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Formation et début de projet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Overpass:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <style>
    /*Overiding bootstarp*/
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
     }
     
     .carousel-control-next-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     }
  </style>

  <!-- =======================================================
  * Template Name: OnePage
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo" style="color:#000000;">Projet VIO-SIS - <span style="color:#e30513;"><strong>ULaval</strong></span></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Accueil</a></li>
          <li class="dropdown"><a href="#"><span>Projet</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/le-projet#formations_et_debut_de_projet">Formations et début de projet</a></li>
                <li><a href="/le-projet#rapports">Rapports</a></li>
                <li><a href="/le-projet#contenu">Contenu du projet</a></li>
                <li><a href="/le-projet#ethique-et-methodologie">Éthique et Méthodologie</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#team">Équipe de recherche</a></li>
          
          <!-- Button
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
          -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Formation et début de projet</h2>
          <ol>
            <li><a href="/">Accueil</a></li>
            <li><a href="/le-projet#formations-et-debut-de-projet">Formation et début de projet</a></li>
            <li>Féminismes et intersectionalités</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title text-center" id="formations_et_debut_de_projet">
          <h2>Féminismes et intersectionnalités</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-10">
            <iframe height="600px" width="100%" src='https://view.officeapps.live.com/op/embed.aspx?src=https://grap-hdr-project.s3.ca-central-1.amazonaws.com/F%C3%A9minismes%20et%20intersectionnalit%C3%A9s%2020210217.pptx' >
            </iframe>
          </div>
        </div>

        <br>
        <br>

        <div class="row pt-3 justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center" id="formations_et_debut_de_projet">
                    <h4>Références</h4>
                  </div>          
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>From Glass Ceiling to Inequality Regimes</h5>
                <h6 class="mb-2 text-muted">Joan Acker</h6>
                <a href="https://doi.org/10.1016/j.soctra.2009.03.004">https://doi.org/10.1016/j.soctra.2009.03.004</a>
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Féminismes</h5>
                <h6 class="mb-2 text-muted">Isabelle Auclair</h6>
                <a href="https://doi.org/10.17184/eac.anthropen.096">https://doi.org/10.17184/eac.anthropen.096</a>
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>L’analyse intersectionnelle du continuum des violences en situation de refuge: les discriminations en emploi</h5>
                <h6 class="mb-2 text-muted">Isabelle Auclair</h6>
                <a href="https://doi.org/10.7202/1043930ar">https://doi.org/10.7202/1043930ar</a>
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Violence de genre et stratégies de résistance</h5>
                <h6 class="mb-2 text-muted">Isabelle Auclair, Charmain Lévy, Andrea Martinez</h6>
                <a href="https://doi.org/10.2307/j.ctvktrxfp.17">https://doi.org/10.2307/j.ctvktrxfp.17</a>
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Violences genrées: Enjeux et résistances</h5>
                <h6 class="mb-2 text-muted">Isabelle Auclair, Lorena Suelves Ezquerro, Dominique Tanguay</h6>
                <!-- Link not provided -->
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Continuum of Violence Against Young Athletes in Sport Contexts: An Intersectional Analysis</h5>
                <h6 class="mb-2 text-muted">Isabelle Auclair, Sylvie Parent</h6>
                <!-- Unpublished -->
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Work in the Intersections: A Black Feminist Disability Framework</h5>
                <h6 class="mb-2 text-muted">Moya Bailey, Izetta Autumn Mobley</h6>
                <a href="https://doi.org/10.1177/0891243218801523">https://doi.org/10.1177/0891243218801523</a>
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Sexe et genre sous le bistouri (analytique) : féministes des transidentités</h5>
                <h6 class="mb-2 text-muted">Alexandre Baril</h6>
                <a href="https://doi.org/10.7202/1034178ar">https://doi.org/10.7202/1034178ar</a>
            </div>
        </div>
        
        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>De la construction du genre à la construction du « sexe » : les thèses féministes postmodernes dans l’oeuvre de Judith Butler</h5>
                <h6 class="mb-2 text-muted">Audrey Baril</h6>
                <a href="https://doi.org/10.7202/017606ar">https://doi.org/10.7202/017606ar</a>
            </div>
        </div>

        <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>De l’analogie à l’articulation : théoriser la différenciation sociale et l’inégalité complexe</h5>
              <h6 class="mb-2 text-muted">Sirma Bilge</h6>
              <a href="https://doi.org/10.3917/lhs.176.0043">https://doi.org/10.3917/lhs.176.0043</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Théorisations féministes de l’intersectionnalité</h5>
              <h6 class="mb-2 text-muted">Sirma Bilge</h6>
              <a href="https://doi.org/10.3917/dio.225.0070">https://doi.org/10.3917/dio.225.0070</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Les femmes dans des professions traditionnellement masculine</h5>
              <h6 class="mb-2 text-muted">Sophie Brière, dir</h6>
              <!-- Link not provided -->
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Intersections of Race, Class, and Crime: Future Directions for Feminist Criminology</h5>
              <h6 class="mb-2 text-muted">Amanda Burgess-Proctor</h6>
              <a href="https://doi.org/10.1177/1557085105282899">https://doi.org/10.1177/1557085105282899</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Institutional Violence Against Users of the Family Law Courts and the Legal Harassment Scale</h5>
              <h6 class="mb-2 text-muted">Miguel Clemente et al</h6>
              <a href="https://doi.org/10.3389/fpsyg.2019.00001">https://doi.org/10.3389/fpsyg.2019.00001</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>“When We Talk About Genre We Talk About Sex”: (A)sexuality and (A)gendered Subjectivities</h5>
              <h6 class="mb-2 text-muted">Karen Cuthbert</h6>
              <a href="https://doi.org/10.1177/0891243219867916">https://doi.org/10.1177/0891243219867916</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Is Culture Taboo? Feminism, Intersectionality, and Culture Talk in Law</h5>
              <h6 class="mb-2 text-muted">Maneesha Deckha</h6>
              <a href="https://sites.ualberta.ca/~lgotell/OB_Articles/deckha.pdf">https://sites.ualberta.ca/~lgotell/OB_Articles/deckha.pdf</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Institutional Violence and Quality of Service in Obstetrics Are Associated with Postpartum Depression</h5>
              <h6 class="mb-2 text-muted">Karina Junqueira De Souza, Daphe Rattner, Muriel Bauermann Gubert</h6>
              <a href="https://doi.org/10.1590/S1518-8787.2017051006549">https://doi.org/10.1590/S1518-8787.2017051006549</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Le projet Dauphine : laisser la parole aux jeunes femmes de la rue et agir ensemble pour lutter contre la violence structurelle par l’entremise de la recherche-action participative</h5>
              <h6 class="mb-2 text-muted">Catherine Flynn, Dominique Damant, Geneviève Lessard</h6>
              <a href="https://doi.org/10.7202/1034175ar">https://doi.org/10.7202/1034175ar</a>
          </div>
      </div>
      
      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Analyser la violence structurelle faite aux femmes à partir d’une perspective féministe intersectionnelle</h5>
              <h6 class="mb-2 text-muted">Catherine Flynn, Dominique Damant, Jeanne Bernard</h6>
              <a href="https://doi.org/10.7202/1029260ar">https://doi.org/10.7202/1029260ar</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Genre et sexe : Nouvelles catégories épistémiologiques des sciences humaines</h5>
              <h6 class="mb-2 text-muted">Juliette Grange</h6>
              <a href="https://doi.org/10.3917/cite.044.0107">https://doi.org/10.3917/cite.044.0107</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>On Violence, Intersectionality and Transversal Politics</h5>
              <h6 class="mb-2 text-muted">Patricia Hill Collins</h6>
              <a href="https://doi.org/10.1080/01419870.2017.1317827">https://doi.org/10.1080/01419870.2017.1317827</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>La rédaction inclusive en droit : Pourquoi les objections ratent-elles la cible ?</h5>
              <h6 class="mb-2 text-muted">Michaël Lessard, Suzanne Zaccour</h6>
              <a href="https://cbr.cba.org/index.php/cbr/article/view/4660">https://cbr.cba.org/index.php/cbr/article/view/4660</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Genèse et développement du genre : Les sciences et les origins de la distinction entre sexe et genre</h5>
              <h6 class="mb-2 text-muted">Ilana Löwy, Hélène Rouch</h6>
              <a href="https://doi.org/10.3917/cdge.034.0005">https://doi.org/10.3917/cdge.034.0005</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Hidden Gendered Assumptions in Mainstream Organizational Theory and Research</h5>
              <h6 class="mb-2 text-muted">Joanne Martin</h6>
              <a href="https://doi.org/10.1177/105649260092017">https://doi.org/10.1177/105649260092017</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Distinguishing Between Sex and Gender: History, Current Conceptualizations, and Implications</h5>
              <h6 class="mb-2 text-muted">Charlene L. Muehlenhard, Zoe D. Peterson</h6>
              <a href="https://doi.org/10.1007/s11199-011-9932-5">https://doi.org/10.1007/s11199-011-9932-5</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Gender, Ethnicity and Feminism: An Intersectional Analysis of the Lived Experiences Feminist Academic Women in UK Higher Education</h5>
              <h6 class="mb-2 text-muted">Katherine J. C. Sang</h6>
              <a href="https://doi.org/10.1080/09589236.2016.1199380">https://doi.org/10.1080/09589236.2016.1199380</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>The Synthesis of Age and Gender: Intersectionality, International Human Rights Law and the Marginalisation of the Girl-Child</h5>
              <h6 class="mb-2 text-muted">Nura Taefi</h6>
              <a href="https://doi.org/10.1163/157181809X458049">https://doi.org/10.1163/157181809X458049</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Exploring Symbolic Violence in the Everyday: Misrecognition, Condescension, Consent and Complicity</h5>
              <h6 class="mb-2 text-muted">Suruchi Thapar-Björkert, Lotta Samelius, Gurchathen S. Sanghera</h6>
              <a href="https://doi.org/10.1057/fr.2015.53">https://doi.org/10.1057/fr.2015.53</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
          <div class="col-md-8">
              <h5>Gender: Still a Useful Category of Analysis</h5>
              <h6 class="mb-2 text-muted">Joan Wallach Scott</h6>
              <a href="https://doi.org/10.1177/0392192110369316">https://doi.org/10.1177/0392192110369316</a>
          </div>
      </div>

      <div class="row py-3 justify-content-center">
        <div class="col-md-8">
                <h5>Rethinking Intersectionality in German Feminisms</h5>
                <h6 class="mb-2 text-muted">Beverly M. Weber</h6>
                <a href="https://doi.org/10.1177/1350506814552084">https://doi.org/10.1177/1350506814552084</a>
            </div>
        </div>

        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Beyond Sex/Gender: The Feminist Body of Security</h5>
                <h6 class="mb-2 text-muted">Lauren Wilcox</h6>
                <a href="https://doi.org/10.1017/S1743923X11000419">https://doi.org/10.1017/S1743923X11000419</a>
            </div>
        </div>

        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>Le genre, structure sérielle : penser les femmes comme un genre social</h5>
                <h6 class="mb-2 text-muted">Iris Marion Young</h6>
                <a href="https://doi.org/10.7202/017604ar">https://doi.org/10.7202/017604ar</a>
            </div>
        </div>

        <div class="row py-3 justify-content-center">
            <div class="col-md-8">
                <h5>VII. Meanings of Sex and Gender for a New Generation of Feminist Psychologists</h5>
                <h6 class="mb-2 text-muted">Alyssa N. Zucker, Joan M. Ostrove</h6>
                <a href="https://doi.org/10.1177/0959353507084329">https://doi.org/10.1177/0959353507084329</a>
            </div>
        </div>     

      </div>
    </section><!-- End Sevices Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container py-4 text-center">

      <div class="row justify-content-center">
        <div class="col-6 col-md-2 copyright text-center pt-3 pb-5">
          <img class="img-fluid" src="/static/images/ulaval_logo.png">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col copyright text-center">
          &copy; Tout droits réservés - Faculté de droit - Université Laval
        </div>
        
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  

  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <script src="/static/assets/js/main.js"></script>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>

</html>