<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Projet Vio-SIS</title>
  <meta name="description" content="Ce projet de recherche s’appuie sur l’expertise d’un collectif de chercheures féministes issues de quatre disciplines (administration, droit, éducation et criminologie) qui travaillent dans une perspective interdisciplinaire transversale. Elles effectuent l’examen de la littérature qui porte sur les difficultés et les obstacles qui nuisent aux femmxs ainsi que sur les opportunités et les leviers qui s’offrent à elles dans deux axes précis, soit l’accès à la justice (axe 1) et l’accès à des milieux organisationnels et professionnels équitables et égalitaires (axe 2). Le choix du néologisme « femmxs » dans notre projet de recherche découle d’une décision commune prise par l’équipe afin d’être la plus inclusive possible.">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Overpass:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <style>
    /*Overiding bootstarp*/
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
     }
     
     .carousel-control-next-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     }

     .list-group-item:hover {
          color: #e30513; /* Change this to your desired hover color */
      }

  </style>

  <!-- =======================================================
  * Template Name: OnePage
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo" style="color:#000000;">Projet VIO-SIS - <span style="color:#e30513;"><strong>ULaval</strong></span></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Accueil</a></li>
          <li class="dropdown"><a href="#"><span>Le projet</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/le-projet#formations-et-debut-de-projet">Formations et début de projet</a></li>
              <li><a href="/le-projet#rapports">Rapports</a></li>
              <li><a href="/le-projet#contenu">Contenu du projet</a></li>
              <li><a href="/le-projet#ethique-et-methodologie">Éthique et Méthodologie</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#team">Équipe de recherche</a></li>
          
          <!-- Button
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
          -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Le projet</h2>
          <ol>
            <li><a href="/">Accueil</a></li>
            <li>Le projet</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg pb-2 mb-0">
      <div class="container" data-aos="">
          <div id="sections-container"></div>
      </div>
    </section><!-- End Sevices Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container py-4 text-center">

      <div class="row justify-content-center">
        <div class="col-6 col-md-2 copyright text-center pt-3 pb-5">
          <img class="img-fluid" src="static/images/ulaval_logo.png">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col copyright text-center">
          &copy; Tout droits réservés - Faculté de droit - Université Laval
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
      // Define the sections data as a JavaScript array
      var sections = [
            {
                title: 'Formations et début de projet',
                id: 'formations-et-debut-de-projet',
                projects: [
                    {
                        title: 'Féminismes et intersectionnalités',
                        description: 'Formations et début de projet sur les différents féminismes et sur l\'intersectionnalité.',
                        url: '/formations-et-debut-de-projet/feminismes-et-intersectionalites',
                    },
                    {
                        title: 'Violences SIS',
                        description: 'Formations et début de projet sur les violences SIS.',
                        url: '/formations-et-debut-de-projet/violences-sis',
                    },
                    {
                        title: 'Théorie des organisations genrées',
                        description: 'Formations et début de projet sur la théorie des organisations genrées.',
                        url: '/formations-et-debut-de-projet/theorie-des-organisations-genrees',
                    }
                ]
            },
            {
                title: 'Rapports',
                id: 'rapports',
                projects: [
                    {
                        title: 'Intérimaire I',
                        description: 'Publié le 31 mai 2021',
                        url: 'rapports/interimaire-1',
                    },
                    {
                        title: 'Intérimaire II',
                        description: 'Publié le 29 mars 2022',
                        url: 'rapports/interimaire-2',
                    },
                    {
                        title: 'Intérimaire III',
                        description: 'Publié le 31 août 2022',
                        url: 'rapports/interimaire-3',
                    },
                    {
                        title: 'Intérimaire IV',
                        description: 'Publié le 23 décembre 2022',
                        url: 'rapports/interimaire-4',
                    },
                    {
                        title: 'Final',
                        description: 'Rapport final et bilan du projet.',
                        url: '/rapports/final',
                    },
                ]
            },
            {
                title: 'Contenu',
                id: 'contenu',
                projects: [
                    {
                        title: 'Coconstruction des savoirs',
                        description: 'Synthèse de l’analyse des données de la matinée de partage d’expertise et des connaissances avec les groupes de femmxs',
                        url: 'contenu/coconstruction-des-savoirs',
                    },
                    {
                        title: 'Analyses thématiques',
                        description: 'Analyses par thème préparées par les professeures liées au projet',
                        url: 'analyses/analyses-thematiques',
                    },
                    /*{
                        title: 'Analyse globale',
                        description: 'Analyse globale du projet',
                        url: 'analyses/analyse-globale',
                    },*/
                    {
                        title: 'Références',
                        description: 'Effectuer une recherche parmi les références du projet',
                        url: 'contenu/references',
                    },
                ]
            },
            {
                title: 'Éthique et Méthodologie',
                id: 'ethique-et-methodologie',
                projects: [
                    {
                        title: 'CÉRUL',
                        description: 'Demandes au Comité d’Éthique de la Recherche de l’Université Laval (CÉRUL)',
                        url: '',
                    },
                    /*{
                        title: 'Covidence',
                        description: 'Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.',
                        url: '',
                    },*/
                    {
                      title: 'Méthodologie et critères d\'éligibilité',
                      description: 'Étude la portée sur la méthodologie d\'extraction des données',
                      url: 'ethique-et-methodologie/methodologie',
                  }
                ]
            },
        ];

        // Get the container where sections will be rendered
        var sectionsContainer = document.getElementById('sections-container');

        // Iterate over each section and render its content
        sections.forEach(function(section) {
            var sectionDiv = document.createElement('div');
            sectionDiv.className = 'row justify-content-center';

            var sectionTitleDiv = document.createElement('div');
            sectionTitleDiv.className = 'col-lg-8 col-md-10 section-title text-center';
            sectionTitleDiv.id = section.id;
            sectionTitleDiv.innerHTML = '<br><h3>' + section.title + '</h3>';

            sectionDiv.appendChild(sectionTitleDiv);

            var projectsDiv = document.createElement('div');
            projectsDiv.className = 'col-lg-8 col-md-10 list-group';

            section.projects.forEach(function(project) {
                var projectLink = document.createElement('a');
                projectLink.className = 'm-2 projet_link list-group-item list-group-item-action border rounded flex-column align-items-start';
                projectLink.href = project.url;
                projectLink.innerHTML = '<div class="d-flex w-50 justify-content-between"><h5 class="my-2">' + project.title + '</h5></div> <p class="my-2">' + project.description + '</p>';

                projectsDiv.appendChild(projectLink);
            });

            sectionDiv.appendChild(projectsDiv);

            sectionsContainer.appendChild(sectionDiv);

            // Add line breaks after each section
            sectionsContainer.innerHTML += '<br><br>';
        });
    </script>

</body>

</html>